body {
    font-size: 1em;
}

.landingQuote {
    font-size: 3em;
}
.landingQuoteAuthor {
    font-size: 2.5em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.top-buffer {
    margin-top: 50px;
}

.landingContent {
    font-size: 2em;
}

/*#295d7b*/