
@{
    ViewBag.Title = "Missions";
 
}

<nav class="breadcrumb">
    <span class="breadcrumb-item active">Missions</span>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Missions</h2>
        </div>
    </div>

    <div class="row top-buffer bottom-buffer">
        <div class="col-md-8 col-centered">
            @using (Html.BeginForm("MissionFAQ", "Mission", FormMethod.Get))
            {
                <fieldset>
                    <h4 class="text-center mission-margin">@Html.DropDownList("contentType", null, new { @class = "btn btn-default dropdown-toggle" })</h4><br />
                    <p class="text-center mission-margin"><input type="submit" value="Submit" class="btn btn-primary" /></p>
                </fieldset>
            }            
        </div>
    </div>
</div>



