
@{
    ViewBag.Title = "Missions";
}

<h2>Missions</h2>


@using (Html.BeginForm("MissionFAQ", "Mission", FormMethod.Get))
{
    <fieldset>
        <h4>Select Mission</h4>
        <h5>@Html.DropDownList("contentType")</h5>
        <p><input type="submit" value="Submit" /></p>
    </fieldset>
}


