@{
    ViewBag.Title = "About Mission Insider";
}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-centered">
            <h2>@ViewBag.Title</h2>
            <h3><b>Our purpose:</b></h3>

            <p class="ptagclass">
                With more missionaries then ever, many who are the youngest we've ever had, we seek to better prepare our missionaries in hopes of fighting the many prevalent mental health issues of today.
                We believe the better prepared and informed a missionary is, the less challenges they'll have in the field.
            </p>


            <h4><strong>Why we do this?</strong></h4>

            <p class="ptagclass">
                First of all, we believe there is no more important work in the world, and this is our way of contributing to it.  There are billions of people who are seeking answers and help, and we want to help
                the missionaries they meet to be prepared when they meet them.
            </p>
        </div>
    </div>
</div>