@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TNRB<br />
    Brigham Young University<br />
    Provo, UT 84602-3113<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="IS403@example.com">IS403@example.com</a><br />
</address>