@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Share your Experiences</h1>
    <p>Do you remember when you were preparing for your mission? Do you remember all of the questions you had? 
    Now is your chance to share your experiences with other future missionaries and help them to be more 
    successful in the field!</p>
    <p><a class="btn btn-default" href="">Share Experiences</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/missionaries.jpg" alt="Missionaries" class="img-rounded" width="100%" />
    </div>
    <div class="col-md-6">
        <p class="landingQuote"><q>"The work of our missionaries is a magnificent expression of the Lord's redeeming love."</p>
        <p class="landingQuoteAuthor">-Elder D. Todd Christofferson</p>
    </div>
</div>