@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Share your Experiences</h1>
    <p>Do you remember when you were preparing for your mission? Do you remember all of the questions you had? 
    Now is your chance to share your experiences with other future missionaries and help them to be more 
    successful in the field!</p>
    <p><a class="btn btn-default" href="">Share Experiences</a></p>
    @Html.ActionLink("View Missions", "Missions", "Mission", null, new { @class = "btn btn-md btn-default" })
</div>

<div class="row top-buffer">
    <div class="col-md-6">
        <img src="~/Content/Images/missionaries.jpg" alt="Missionaries" class="img-rounded" width="100%" />
    </div>
    <div class="col-md-6">
        <p class="landingQuote">"The work of our missionaries is a magnificent expression of the Lord's redeeming love."</p>
        <p class="landingQuoteAuthor">-Elder D. Todd Christofferson</p>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-4">
        <p class="landingContent">
            "I am convinced that missionary work is not easy because salvation is not a cheap experience."
        </p>
        <p class="landingContent text-right">-Elder Jeffrey R. Holland</p>
    </div>
    <div class="col-md-4">
        <p class="landingContent">
        "Behold, I am a disciple of Jesus Christ the Son of God. I have been called of Him to declare His
        word among His people that they might have everlasting life."
        </p>
        <p class="landingContent text-right">-3 Nephi 5:13</p>
    </div>
    <div class="col-md-4">
        <p class="landingContent">
            "Perhaps it is true that we are weak. Perhaps we are not wise or might. But when GOd works 
            through us, no one and nothing can stand against us."
        </p>
        <p class="landingContent text-right">-President Dieter F. Uchtdorf</p>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-6 col-centered">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w7qWWLg220Y" 
                frameborder="0" allowfullscreen></iframe>
    </div>
</div>